<a href="https://colab.research.google.com/github/jui-star/Data/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 3강 - 데이터 분석을 위한 파이썬 2

## 3-1 언패킹

In [2]:
coordinates = (10, 20)

# 튜플 언패킹
x,y = coordinates
print(f'x좌표: {x}, y좌표: {y}')

rgb = [255, 128, 0]
# 리스트 언패킹
red, green, blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
# 문자열 언패킹
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')

x좌표: 10, y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B, 세 번째 문자: C

In [3]:
def get_dataset_stats(values):
  return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]

# 함수값 return 언패킹
minimum, maximum, average = get_dataset_stats(data)
print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.2f}')

최솟값: 5, 최댓값: 32, 평균: 15.57

In [4]:
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]

# 반복문에서 언패킹 사용
for name, database, python, cloud in student_scores:
    average = (database + python + cloud) / 3
    print(f'{name}의 평균 점수: {average:.1f}')

김철수의 평균 점수: 85.0
이영희의 평균 점수: 91.7
박지민의 평균 점수: 82.7

In [5]:
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

# 1월, 2월 및 나머지 월 매출액
first, second, *remaining = monthly_sales
print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')

# 1월, 12월 및 나머지 월 매출액
first, *middle, last = monthly_sales
print(f'첫 달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~11월)의 판매액: {middle}')

1월 판매액: 1200
2월 판매액: 1350
나머지 월 판매액: [1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
첫 달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

## 3-5 언더스코어

In [6]:
for _ in range(5):
    print('Hello, Data Analysis with Open Source!')

Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!

In [7]:
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]

# 이름 및 성적 만 출력
for _,name,_,_,grade in students:
    print(f'{name}의 성적: {grade}')

김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5

In [9]:
def get_coordinates( ):
    return (10, 20, 30)

# 함수 return 값 언더스코어 사용
_,y,_ = get_coordinates()
print(y)

20

## 3-2 예외 처리

In [10]:
number = int(input('정수를 입력하세요: '))
result = 10 / number
print(f'결과: {result}')

정수를 입력하세요: 0

ZeroDivisionError: division by zero

In [11]:
number = int(input('정수를 입력하세요: '))

# try 문
try:
    result = 10 / number
    print(f'결과: {result}')
# except 문
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

정수를 입력하세요: 0
0으로 나눌 수 없습니다.

In [15]:
# try 문
try:
    number = int(input('숫자를 입력하세요: '))
    result = 10 / number
    print(f'결과: {result}')
# except 문 1
except ValueError:
    print('유효한 숫자를 입력해야 합니다.')
# except 문 2
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

숫자를 입력하세요: n
유효한 숫자를 입력해야 합니다.

In [16]:
try:
    numbers=[1,2,3]
    print(numbers[3])
except IndexError as e:
    print(f'예외 발생: {e}')

예외 발생: list index out of range

In [18]:
# try 문
try:
    file = open('data.csv', 'r')
    content = file.read( )
    print(content)

# except 문
except FileNotFoundError:
    print('파일을 찾을 수 없습니다.')
# fianlly 블럭
finally:
    print('파일 작업 종료.')
    file.close( )

날짜,체중,골격근량,체지방량
2025.02.06,64.7,30.0,11.1
2025.02.04,64.0,29.3,11.6

파일 작업 종료.

## 3-3 함수형 프로그래밍

### 람다 함수


*   이름이 없는 익명함수
>한 줄의 표현식으로 작성할 수 있는 간결한 함수  
> 즉시 사용할 수 있는 간결한 연상르 수행할 때 적합  
>> *lambda 매개변수 : 표현식*

*   함다 함수의 문법적 특징
> 단 하나의 표현식만 허용  
> 표현식의 결과는 자동으로 함수의 반환값이 되므로 return 키워드를 사용하지 않음

In [19]:
def add(x):
    return x+2

add_lambda = lambda x: x+2

print(add(3))
print(add_lambda(3))

5
5

In [23]:
concat = lambda s1, s2 : s1+' '+s2   # 두 개의 문자열을 받아 공백을 추가후 결합
print(concat('파이썬','데이터 분석'))

is_even = lambda x: '짝수' if x % 2 == 0 else '홀수'

print(is_even(10))
print(is_even(7))

파이썬 데이터 분석
짝수
홀수

In [25]:
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

# 함수 정의: salary * 1.1
adjust_salary = lambda salary: salary * 1.1
# 급여 인상
updated_salaries = {name : adjust_salary(salary) for name, salary in employees.items()}
print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

#### map 함수 : 반복 가능한 객체의 모든 요소에 특정 함수를 적용하여 새로운 값을 생성하는 함수
- 리스트나 튜플과 같은 자료구조의 요소를 변경할 때 유용

In [26]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]

# 함수 정의: 섭씨 -> 화씨
celsius_to_fahrenheit = lambda c :(c *9/5) +32

# 온도 변환
temperature_fahrenheit = list(map(celsius_to_fahrenheit, temperature_celsius))

print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]

In [1]:
words = ['python', 'data', 'analysis']

# 함수 정의 및 대문자화
uppercase_words = list(map(lambda word: word.upper(), words))
print(uppercase_words)

['PYTHON', 'DATA', 'ANALYSIS']

In [3]:
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]

# salary * 1.1
updated_employees = list(map(lambda emp : {'name': emp['name'],
                                           'salary': emp['salary']* 1.1}, employees))
print('\n급여 인상 후:')

for emp in updated_employees:
    print(f'{emp['name']}: {int(emp['salary']):,}원')

급여 인상 후:
김지원: 4,070,000원
박민준: 7,700,000원
이서연: 4,840,000원
정현우: 3,850,000원

#### filter 함수  
* 반복가능한 객체의 요소 중 특정 조건을 만족하는 요소  
> True 또는 False를 반환하는 함수(조건함수)를 인자로 받고 조건함수가 True를 반환하는 요소만 컬렉션에 포함

In [4]:
numbers = [10, 15, 20, 25, 30]

# 짝수 필터링
even_numbers = list(filter(lambda x : x %2 ==0, numbers))
print(even_numbers)

[10, 20, 30]

In [5]:
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '박서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78}
]

# 70점 이상 학생 목록 생성
passed_students = list(filter(lambda student : student['score']>=70,
                              osda_students))

for student in passed_students:
    print(f'이름: {student["name"]}, 점수: {student["score"]}')

이름: 김지원, 점수: 85
이름: 박서연, 점수: 90
이름: 최예은, 점수: 78

#### reduce 함수
* 반복 가능한 객체의 모든 요소를 누적하여 하나의 값으로 축소하는 함수  
> 반복문을 사용하지 않고도 데이터를 하나의 값으로 집계  
> functools 모듈에서 제공
>>1. 첫번째와 두번째 요소를 함수에 적용하여 중간 결과를 생성
>>2. 그 중간 결과와 객체의 다음 요소를 다시 함수에 적용  
>>3. 이 과정을 반복하여 최종적으로 하나의 값을 반환

In [9]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

total_sum = reduce(lambda x, y : x+y, numbers)
print(total_sum)

15

In [7]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]

# 최대값 생성
max_value = reduce(lambda x, y : x if x > y else y, numbers)
print(max_value)

9